<form action="/articles/<%=@article.id%>" method ="post">
<input id="hidden" type="hidden" name="_method" value = "PATCH">
  <label for ="title">
     <%=@article.title%> <input type ="text" name="article[title]">
  </label>
  <label for ="content">
      <%=@article.content%> <input type ="text" name="article[content]">
  </label>
  <input type="submit" value="submit">
</form>
